{% extends 'drone/layout.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="article">
        <h1 class="title">{{ title }}</h1>
        {% if drone_photo %}
            <img class="featured-image" src="{{ drone_photo.url }}" alt="{{ title }}">
        {% else %}
            <img class="featured-image" src="{% static 'drone/img/default.jpg' %}" alt="{{ title }}">
        {% endif %}
        <div class="content">{{ content | safe }}</div>
    <br>
    <h3>Компоненты</h3>
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Название</th>
            <th scope="col">Url</th>
            <th scope="col">Цена</th>
          </tr>
        </thead>
          {% for component in components %}
          <tbody>
              <tr>
                <th scope="row">{{ component.component_category.title }}</th>
                <td>{{ component.name }}</td>
                {% if component.url %}
                  <td><a href="{{ component.url }}" target="_blank">посмотреть</a></td>
                {% else %}
                  <td>-</td>
                {% endif %}
                {% if component.price %}
                  <td>{{ component.price }}</td>
                {% else %}
                  <td>-</td>
                {% endif %}
              </tr>
          {% endfor %}
          </tbody>
          <caption><b>Общая цена: {{ total_price }}</b></caption>
        </table>
    </div>
  <ul>
  </ul>
{% endblock %}