{% extends 'drone/layout.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="article">
        <h1 class="title">{{ title }}</h1>
        {% if post.drone_photo %}
            <img class="featured-image" src="{{ post.drone_photo.url }}" alt="{{ title }}">
        {% else %}
            <img class="featured-image" src="{% static 'drone/img/default.jpg' %}" alt="{{ title }}">
        {% endif %}
        <div class="content">{{ content | safe }}</div>
    <br>
    <h3>Компоненты</h3>
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Название</th>
            <th scope="col">Url</th>
            <th scope="col">Цена</th>
          </tr>
        </thead>
          {% for component in components %}
          <tbody>
              <tr>
                <th scope="row">{{ component.component_category.title }}</th>
                <td>{{ component.name }}</td>
                {% if component.url %}
                  <td><a href="{{ component.url }}" target="_blank">посмотреть</a></td>
                {% else %}
                  <td>-</td>
                {% endif %}
                {% if component.price %}
                  <td>{{ component.price }}</td>
                {% else %}
                  <td>-</td>
                {% endif %}
              </tr>
          {% endfor %}
          </tbody>
          <caption><b>Общая цена: {{ total_price }}</b></caption>
        </table>
    </div>
  <ul>
  </ul>
<br>
<!-- LIKES -->
{% if user.is_authenticated %}
  <form action="{% url 'drone_like' post.slug %}" method="POST">
    {% csrf_token %}

    {% if post_is_liked %}
    <button type="submit" name="drone_id" value="{{post.slug}}" class="btn btn-info btn-sm">Больше не нравится</button>
    {% else %}
    <button type="submit" name="drone_id" value="{{post.slug}}" class="btn btn-info btn-sm">Нравится</button>
    {% endif %}
  </form>
{% else %}
    <button type="submit" href="{% url 'login' %}" class="btn btn-info btn-sm">Больше не нравится</button>
{% endif %}
<strong class="text-secondary">Нравится: {{ count_of_likes }}</strong>
<br><br>
<!-- Форма создания комментария -->
<h3>Комментарии</h3>
{% if user.is_authenticated %}
    <form method="post">
      <div class="form-floating">
          {% csrf_token %}
          {{ form.as_p }}
        <div class="float-start">
            <button type="submit" class="btn btn-info btn-sm">Отправить</button>
        </div>
      </div>
    </form>
{% endif %}
<br><br><br>
{{ form.errors }}
{% for comment in comments %}
    <div class="card">
        <div class="card-body">
          <div class="d-flex flex-start align-items-center">
            <img class="rounded-circle shadow-1-strong me-3"
              src="{% static 'drone/img/avatar.webp' %}" alt="avatar" width="60"
              height="60" />
            <div>
            <h6 class="fw-bold text-primary mb-1">{{ comment.author }}</h6>
            </div>
          </div>
          <p class="mt-1">
            {{ comment.content }}
          </p>
        </div>
    </div>
    <br>
{% endfor %}
{% endblock %}