{% load static %}
{% load drone_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | BuildFPV</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  <link type="text/css" href="{% static 'drone/css/style.css' %}" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/44807de2b9.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src={% static "drone/js/password.js" %}></script>
   {{ form.media }}
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark" style="background-color: #4474af">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">FPV</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'add_drone' %}">Создать сборку</a>
              </li>
            {% endif %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                Категории
              </a>
                <ul class="dropdown-menu" data-bs-popper="static">
                  {% show_categories category_selected %}
                </ul>
          </li>

            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Аккаунт
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'profile' %}">Профиль</a></li>
                {% if user.is_superuser %}
                  <li><a class="dropdown-item" href="/admin/">Админка</a></li>
                {% endif %}
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Компоненты</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">Выйти</a></li>
              </ul>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'login' %}">Вход</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'signup' %}">Регистрация</a>
            </li>
            {% endif %}
          </ul>
          <form class="d-flex" action="/search" accept-charset="UTF-8" method="get">
      <input class="form-control me-2" type="search" placeholder="Search" name="query" id="query">
      <input type="submit" name="commit" value="Search" class="btn btn-secondary" data-disable-with="Search">
    </form>
        </div>
      </div>
    </nav>
    <br>
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
  </div>
<div class="footer">
    {% block footer %}
    {% endblock %}
</div>
</body>
</html>